/* .main_section {
  height: 100vh;
}

.content_section {
  background-color: grey;
  padding: 20px;
  margin:
} */


#exchange_icon {
  background-color: #f3f3f3;
  /* height: 60px; */
  cursor: pointer;
}
/* 
input[type=number] {
  height: 60px;
} */